# Build artifacts
/build/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile

# Executables
*.exe
*.out
*.app

# Object files
*.o
*.obj

# Libraries
*.a
*.lib
*.so
*.dll
*.dylib

# IDE files
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.bak
